<div class="card" data-id="{{id}}">
    <img src="https://semantic-ui.com/images/wireframe/image.png" alt="productImage" class="card-img">

    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-description">{{description}}</p>
        <p class="card-price">Price: ${{price}}</p>
        <p class="card-stock">In Stock: {{inventory}}</p>
        <button class="btn-edit" data-id="{{id}}">Edit</button>
    </div>
</div>